* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  background: #1a1a1a;
  color: white;
}

/* ======= estilos botones======= */
button {
  background-color: transparent;
  border: none;
  width: 35px;
  height: 35px;
  transition: opacity ease .2s;
}
button svg {
  width: 100%;
  height: 100%;
}

button:hover{
  opacity: .8;
}

/* ========= CONTENEDOR DE LA LISTA ============*/
.container-app-list {
  width: 100dvw;
  height: 100dvh;
}

/* ========== form ============ */
.form-container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 10px;
  padding: 20px;
  background-color: rgb(39, 38, 38);
  margin-bottom: 15px;
  z-index: 100;
  border-radius: 10px;
  border: solid 0.5px #cecece34;

}
/* armo un foco en el form */
.container-form-fondo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100dvw;
  height: 100dvh;
  background-color: #101010bd;
  z-index: 999;
}

.container-tasks-from-and-tasks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  z-index: 10000;
}

/* ======= botones form======== */
.container-btn-form {
  width: 100%;
  height: max-content;
  display: flex;
  gap: 10px;
  flex-direction: row-reverse;
  border-radius: 10px;
  place-items: center;
  overflow: hidden;
}
.btn-form {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}
.btn-form-add{
  background-color: rgb(114, 170, 36);
}
.btn-rest-form{
  background-color: rgb(122, 53, 53);
}
button:hover {
  cursor: pointer;
}
.container-inputs-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-left: 0.5px solid #cecece75;
}
.textarea:focus {
  outline: none;
}
.textarea {
  width: 100%;
  height: 100px;
  background-color: transparent;
  border: none;
  padding: 10px;
  resize: none;
  overflow-wrap: break-word;
  word-break: break-word;
  color: #979696;
  border-left: 0.5px solid #cecece75;
}
.textarea:focus {
  border: none;
}
input:focus {
  outline: none;
}
.title-task-form{
  font-size: 20px;
}
/* container title task */
.container-title-task-btn-close-form{
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* btn close form */
.close-form{
  width: max-content;
  height: 20px;
  display: block;
  align-self: flex-end;
}
.close-form svg{
  width: max-content;
  height: 100%;
}
/* ======== stado de la tarea icono ======= */
.state-task {
  width: 20px;
  height: 20px;
}

/* ===== BTN TASK ===== */
.btn-task {
  width: 25px;
  height: max-content;
}
.btn-task:hover {
  cursor: pointer;
}
.container-btns-task {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  place-items: center;
  gap: 20px;
}

/* ======== container task form ===== */
/* ======= TASK ITEM */

/* container tasks */
.container-tasks {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-item-task {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 50px;
  padding: 20px;
  border-radius: 20px;
  border: 0.4px solid #5e5e5e8d;
  transition: transform ease 0.3s;
}
.container-item-task:hover {
  transform: scale(1.02);
}

.container-item-task-info {
  display: grid;
  grid-template-rows: 1fr 70px 1fr;
  gap: 10px;
}

.description-task {
  /* background-color: aqua; */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  color: #989797df;
  font-weight: 100;
}

/* ======== title app */
.container-title-app {
  padding: 30px 20px 10px 20px;
}

/* ====== estilos para texto */
.title-task {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  font-size: 21px;
  font-weight: 500;
  overflow-wrap: break-word;
  word-break: break-word;
}
.state-task{
  width: 20px;
  height: 20px;
  align-self: flex-start;
}
/* ====date TASK */
.date-task{
  color: #cecece;
}
/*======= BTN FLOTANTE ADD TASK */
.add-task-btn-float{
  position: fixed;
  bottom: 25px;
  right: 15px;
  width:55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e3e3e;
  border-radius: 50%;
  padding: 10px;
  animation: pulsacion 2s infinite;
}
.add-task-btn-float svg{
  width: 100%;
  height: 100%;
}

@keyframes pulsacion {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
/* ===== botones filtrado */
